@import url('https://fonts.googleapis.com/css2?family=Averia+Serif+Libre:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

main {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Ensures it covers the entire viewport height */
  }
  
  main > * {
    flex: 1;
  }
  
  /* Footer Styling */
  footer {
    flex-shrink: 0; /* Prevents the footer from shrinking */
  }
  